{% extends 'base.html.twig' %}

{% block title %}KROM Esport - Actualités{% endblock %}

{% block meta %}
    <meta property="og:site_name" content="KROM Esport" />
    <meta property="og:image" content="https://www.krom-esport.fr/img/logos/krom_logo_fond_noir.png" />
    <meta property="og:title" content="Les actualités de KROM Esport" />
    <meta property="og:description" content="Jetez un oeil à nos actualités." />
    <meta name="description" content="Jetez un oeil à nos actualités." />

    <meta name="twitter:title" content="KROM Esport" />
    <meta name="twitter:image" content="https://www.krom-esport.fr/img/logos/krom_logo_fond_noir.png" />
    <meta name="twitter:description" content="Jetez un oeil à nos actualités." />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="robots" content="noarchive" />
{% endblock %}

{% block body %}
    <!-- Page HTML pour afficher l'ensemble des articles -->

    <h2 class="h2_sous_nav">Nos dernières actualités</h2>

    <div class="liste_articles">

        <!-- Boucle d'affichage d'un article -->
        {% for a in actualites %}
        <div class="collec_article">
            <a class="titre_article">{{ a.titre }}</a>
            <br>
            <a href="{{ path('afficherArticle', { "id" : a.id }) }}">
                <img src="/img/article/{{ asset(a.img_couverture) }}" alt="article_KROM" width="716" height="403" loading="lazy">
            </a>
            <br>
            <a class="article_extrait">{{ a.sous_titre }}</a>
            <br>
            <div class="redirection_vue_article">
                <a href="{{ path('afficherArticle', { "id" : a.id }) }}">En savoir plus</a>
            </div>
            <br>
            <!-- Utilisation de l'extension Twig "format_datetime" pour afficher la date au format français. -->
            <a class="date_article">{{ a.date_parution|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</a>
        </div>

        {% endfor %}

    </div>

    <h3 class="h3_actu">Suite prochainement...</h3>
{% endblock %}
